# Python
.venv/
venv/
.venv312/
__pycache__/
*.pyc
.env

# Node
node_modules/
frontend/node_modules/
dist/
build/
/.vite/
frontend/dist/

# IDE
.vscode/
.idea/

# OS
Thumbs.db
desktop.ini

# Logs
*.log
